@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none !important;
}

html {
  font-size: 62.5%;
  /*기본 롱프레스 비활성화*/
  -webkit-touch-callout: none !important;
  overscroll-behavior-y: none;
  -webkit-user-drag: none !important;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f3f4f8 !important;
}

body {
  color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overscroll-behavior-y: none;
}

a,
button {
  cursor: pointer;
}
