@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none !important;
}

html {
  font-size: 62.5%;
  -webkit-touch-callout: none;
}

a, button {
  cursor: pointer;
}