@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none !important;
}

html {
  font-size: 62.5%;
  /*기본 롱프레스 비활성화*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  color: black;
}

a, button {
  cursor: pointer;
}