# Workflow name
name: "Chromatic Deployment"

# Event for the workflow
on:
  push:
    branches:
      - main
      - develop

  workflow_dispatch:

# List of jobs
jobs:
  job-chromatic-build:
    name: "Chromatic Build"
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: yarn install --immutable --immutable-cache

      - name: Build Storybook
        run: yarn build-storybook

      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          storybookBuildDir: storybook-static
